//INTRO
.intro {
    @include flex();
    padding: 17rem 2rem 8rem;
    &__left {
        @include flex();
        width: 30%;
        min-width: 25rem;
        margin: 3rem 0;
    }
    &__image {
        @include image();
        &:hover {
            scale: 1.1;
        }
        &-wrapper {
            @include image-wrapper(20rem, 20rem);
            clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
        }
    }
    &__right {
        @include flex();
        width: 70%;
    }
    &__title {
        font-size: 3rem;
    }
}

//ABOUT ME
.about-me {
    &__list {
        @include flex(row, flex-start);
        margin-bottom: 2rem;
        &-item {
            position: relative;
            height: 3rem;
            margin: 0 3rem;
            font-size: 1.3rem;
            cursor: pointer;
            &::after {
                content:"";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0.3rem;
                background-color: $color-text;
                transition: all 0.6s;
            }
            &:hover {
                scale: 1.1;
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &__content {
        position: relative;
        width: 100%;
        border: 0.05rem solid $color-text;
        border-radius: 1rem;
        overflow: hidden;
    }
    article {
        box-sizing: border-box;
        position: relative;
        @include flex(column, space-around, flex-start);
        width: 100%;
        height: 100%;
        padding: 2rem;
        transition: all 0.6s;
    }
    //RESUME
    &__text {
        font-size: 1.6rem;
        margin: 1rem 0;
        line-height: 3rem;
        text-align: justify;
    }
    //FORMATION
    &__formation {
        position: relative;
        @include flex(column);
    }
    &__timeline {
        position: absolute;
        top: 1rem;
        left: 50%;
        width: 0;
        height: 95%;
        border-right: 0.2rem dashed $color-main;
    }
    &__timelist {
        @include flex(column);
        flex-wrap: nowrap;
        width: 100%;
        margin-left: 0.1rem;
    }
    &__timeitem:nth-child(odd) {
        .about-me__timeitem-date {
            @media screen and (min-width: 450px) {
                right: 2rem;
            }
        }
        .about-me__timeitem-title,
        .about-me__timeitem-diploma {
            @media screen and (min-width: 450px) {
                left: 2rem;
            }
        }
        .about-me__timeitem-desc {
            @media screen and (min-width: 450px) {
                left: 2rem;
                text-align: left;
            }
        }
    }
    &__timeitem:nth-child(even) {
        .about-me__timeitem-date {
            @media screen and (min-width: 450px) {
                left: 2rem;
            }
        }
        .about-me__timeitem-title,
        .about-me__timeitem-diploma {
            @media screen and (min-width: 450px) {
                right: 2rem;
                text-align: right;
            }
        }
        .about-me__timeitem-desc {
            @media screen and (min-width: 450px) {
                right: 2rem;
                text-align: right;
            }
        }
    }
    &__timeitem {
        position: relative;
        @include flex(column);
        margin-top: 0;
        margin-bottom: 1rem;
        @media screen and (min-width: 450px) {
            margin-bottom: 12rem;
        }
        @media screen and (min-width: 800px) {
            margin-bottom: 8rem;
        }
        &-dot {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $color-main;
        }
        &-date {
            position: relative;
            width: max-content;
            @media screen and (min-width: 450px) {
                position: absolute;
                bottom: -0.6rem;
                max-width: 12rem;
            }
            @media screen and (min-width: 800px) {
                max-width: none;
            }
            margin: 0.4rem;
            padding: 0.2rem;
            background-color: $color-text;
            color: $color-bg;
        }
        &-title, &-diploma {
            position: relative;
            width: max-content;
            @media screen and (min-width: 450px) {
                position: absolute;
                bottom: -0.6rem;
                max-width: 15rem;
            }
            @media screen and (min-width: 800px) {
                max-width: none;
            }
            padding: 0.2rem;
            font-size: 1.5rem;
            font-weight: 800;
            color: $color-main;
            background-color: $color-bg;
        }
        &-diploma {
            color: $color-bg;
            background-color: $color-main;
        }
        &-desc {
            position: relative;
            width: max-content;
            max-width: 35rem;
            text-align: center;
            @media screen and (min-width: 450px) {
                position: absolute;
                top: 1.5rem;
                max-width: 14rem;
            }
            @media screen and (min-width: 800px) {
                max-width: 28rem;
            }
            padding: 0.2rem;
            font-size: 1.2rem;
            background-color: $color-bg;
        }
    }
    //HOBBIES
    &__hobbies {
        align-items: center !important;
        &__list {
            @include flex();
            margin: 1rem 0 3rem 0;
            &-item {
                @include flex();
                width: 5.5rem;
                height: 5.5rem;
                padding: 0.25rem;
                margin: 0 2rem;
                background-color: $color-main;
                clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
                transition: all 0.6s;
                cursor: pointer;
                &.active {
                    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                    img {
                        scale: 1.3;
                    }
                }
                &:hover {
                    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
                    img {
                        scale: 1.5;
                        transform: rotateZ(15deg);
                    }
                }
            }
        }
        &__icon {
            width: 3.2rem;
            image-rendering: crisp-edges;
            transition: all 0.6s;
        }
        &__name {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        &__desc {
            font-size: 1.6rem;
            text-align: justify;
            line-height: 3rem;
            margin-bottom: 1rem;
        }
    }
}

//SKILLS
.skills {
    &__list {
        @include flex(row);
        gap: 4rem;
        width: 100%;
    }
    &__card {
        position: relative;
        width: 100%;
        height: 100%;
        border: 0.2rem solid $color-main;
        border-radius: 3rem;
        box-shadow: 0.2rem 0.2rem 0.5rem black;
        transform-style: preserve-3d;
        &-wrapper {
            width: 20rem;
            height: 25rem;
            perspective: 1000px;
            &:hover {
                scale: 1.1;
                .skills__card {
                    transform: rotateY(180deg);
                    box-shadow: -0.2rem 0.2rem 0.5rem black;
                }
            }
        }
        &-front, &-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 3rem;
        }
        &-front {
            @include flex(column);
            gap: 2rem;
            background-color: lighten($color-bg, 5%);
        }
        &-back {
            background-color: darken($color-bg, 5%);
            color: $color-text;
            transform: rotateY(180deg);
        }
    }
    &__icon {
        width: 80%;
        transform-style: preserve-3d;
    }
    &__details {
        width: 100%;
        @include flex(row, flex-start, flex-start);
        padding: 0.8rem;
    }
    &__detail {
        width: 5rem;
        min-width: 5rem;
        max-width: 5rem;
        height: 5rem;
        min-height: 5rem;
        max-height: 5rem;
        margin: 0.5rem;
    }
}
.detail {
    &__link {
        @include flex();
        width: 100%;
        height: 100%;
        background-color: lighten($color-bg, 15%);
        border-radius: 0.7rem;
        &:hover {
            background-color: lighten($color-bg, 35%);
            scale: 1.1;
        }
    }
    &__icon {
        width: 90%;
        height: 90%;
        border-radius: 0.7rem;
    }
}

//REALISATIONS
.realisations {
    &__list {
        @include flex();
        gap: 4rem;
        width: 100%;
    }
    &__card {
        position: relative;
        min-width: 25rem;
        width: 45%;
        height: 20rem;
        box-shadow: 0.2rem 0.2rem 0.5rem black;
        border-radius: 2rem;
        overflow: hidden;
        &:hover {
            scale: 1.05;
            box-shadow: 0.4rem 0.4rem 0.9rem black;
            & .realisations__card__background {
                scale: 1.1;
            }
            & .realisations__card__content {
                transform: translateY(20rem);
            }
        }
        &__background {
            @include image();
            &-wrapper {
                @include image-wrapper(100%, 100%, absolute);
            }
        }
        &__content {
            @include flex(column);
            flex-wrap: nowrap;
            position: absolute;
            top: -20rem;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1rem;
            background-color: rgba(black, 0.9);
            text-align: center;
        }
        &__name {
            color: $color-main;
            margin-bottom: 1rem;
        }
        &__used {
            font-family: LatoLight;
        }
        &__technologies {
            margin-bottom: 1rem;
        }
        &__buttons {
            @include flex(row, center, stretch);
            flex-wrap: nowrap;
            gap: 5%;
            width: 100%;
        }
        &__button {
            position: relative;
            @include flex();
            padding: 0.5rem 1rem;
            border: 0.1rem solid $color-text;
            border-radius: 0.5rem;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                content: '';
                height: 100%;
                width: 0%;
                background-color: $color-text;
                transition: all 0.6s;
            }
            &:hover {
                color: $color-bg;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}

//CONTACT
.contact {
    &__list {
        @include flex(row, space-between);
        margin-bottom: 5rem;
    }
    &__item {
        align-self: stretch;
        border-radius: 2rem;
        padding: 2rem;
        &:hover {
            scale: 1.05;
            background-color: rgba(white, 0.2);
            img {
                animation: 1s icon;
                animation-fill-mode: forwards;
            }
        }
    }
    &__link {
        height: 100%;
        @include flex(column, space-between);
    }
    &__icon {
        position: relative;
        height: 4rem;
        margin-bottom: 1rem;
        filter: invert(100%);
        animation: 1s iconback;
        animation-fill-mode: forwards;
    }
}
@keyframes icon {
    0% {
        bottom: 0;
    }
    30% {
        bottom: 0.5rem;
    }
    50% {
        bottom: 0.5rem;
        transform: rotateZ(30deg);
    }
    70% {
        bottom: 0.5rem;
        transform: rotateZ(-30deg);
    }
    80% {
        bottom: 0.5rem;
        transform: rotateZ(30deg);
    }
    90% {
        bottom: 0.5rem;
        transform: rotateZ(-30deg);
    }
    100% {
        bottom: 0.5rem;
        transform: rotateZ(0deg);
    }
}
@keyframes iconback {
    0% {
        bottom: 0.5rem;
    }
    100% {
        bottom: 0;
        transform: rotateZ(0deg);
    }
}