<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bertrand Dossogne - portfolio</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main>
        <div class="nav-wrapper">
            <nav class="nav" id="nav">
                <ul class="nav__list">
                    <li class="nav__list-icon">
                        <a class="nav__link" href="#">
                            <div class="nav__image-wrapper">
                                <img src="./assets/bandicoot.jpg" alt="my picture" class="nav__image">
                            </div>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__link" href="#aboutMe">
                            {{getLang.aboutMe}}
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__link" href="#skills">
                            {{getLang.skills}}
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__link" href="#realisations">
                            {{getLang.realisations}}
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav__link" href="#contact">
                            {{getLang.contact}}
                        </a>
                    </li>
                </ul>
                <select 
                    name="langSelect" 
                    id="langSelect" 
                    class="nav__lang"
                    v-on:change="changeLang(selected)"
                    v-model="selected">
                    <option 
                        v-for="option in options"
                        v-bind:value="option.value">
                        {{option.text}}
                    </option>
                </select>
            </nav>
        </div>
        <section class="intro" id="intro">
            <div class="intro__left">
                <div class="intro__image-wrapper">
                    <img src="./assets/bandicoot.jpg" alt="my picture" class="intro__image">
                </div>
            </div>
            <div class="intro__right">
                <h1 class="intro__title">
                    {{getLang.pretext}}<em>{{getLang.name}}</em>{{getLang.posttext}}
                </h1>
            </div>
        </section>
        <section class="about-me" id="aboutMe">
            <h1 class="section-title">{{getLang.title}}</h1>
            <ul class="about-me__list">
                <li 
                    class="about-me__list-item"
                    v-on:click="display('resume')">
                    {{getLang.nav.resume}}
                </li>
                <li 
                    class="about-me__list-item"
                    v-on:click="display('formation')">
                    {{getLang.nav.formation}}
                </li>
                <li 
                    class="about-me__list-item"
                    v-on:click="display('hobbies')">
                    {{getLang.nav.hobbies}}
                </li>
            </ul>
            <div class="about-me__content">
                <article
                    class="about-me__resume"
                    v-if="frame == 'resume'">
                    <p class="about-me__text" v-for="line in getLang.resume">{{line}}</p>
                </article>
                <article
                    class="about-me__formation"
                    v-else-if="frame == 'formation'">
                    <div class="about-me__timeline"></div>
                    <ul class="about-me__timelist">
                        <li 
                            class="about-me__timeitem"
                            v-for="moment in getLang.formation">
                            <p class="about-me__timeitem-date">
                                {{moment.date}}
                            </p>
                            <div class="about-me__timeitem-dot"></div>
                            <p 
                                class="about-me__timeitem-diploma"
                                v-if="moment.type == 'diploma'">
                                {{moment.title}}
                            </p>
                            <p 
                                class="about-me__timeitem-title" 
                                v-else>
                                {{moment.title}}
                            </p>
                            <p class="about-me__timeitem-desc">
                                {{moment.desc}}
                            </p>
                        </li>
                    </ul>
                </article>
                <article
                    class="about-me__hobbies"
                    v-else-if="frame == 'hobbies'">
                    <ul class="about-me__hobbies__list">
                        <li 
                            v-for="(hobby, index) in getLang.hobbies"
                            v-on:click="viewHobby(index)"
                            v-bind:title="hobby.name"
                            v-bind:class="{ active: index==hobbyId }"
                            class="about-me__hobbies__list-item">
                            <img
                                v-bind:src="icons[hobby.icon]"
                                v-bind:alt="hobby.icon"
                                class="about-me__hobbies__icon">
                        </li>
                    </ul>
                    <h2 class="about-me__hobbies__name">
                        {{getLang.hobbies[hobbyId].name}}
                    </h2>
                    <p class="about-me__hobbies__desc">
                        {{getLang.hobbies[hobbyId].desc}}
                    </p>
                </article>
            </div>
        </section>
        <section class="skills" id="skills">
            <h1 class="section-title">{{getLang.title}}</h1>
            <ul>
                <li></li>
            </ul>
        </section>
        <section class="realisations" id="realisations">
            <h1 class="section-title">{{getLang.title}}</h1>

        </section>
        <section class="contact" id="contact">
            <h1 class="section-title">{{getLang.title}}</h1>

        </section>
    </main>
    
    <script src="./index.js"></script>
</body>
</html>